<div class="container">
    <div class="heading black"> 
        <span class="roboto-thin">Hello </span>
        <span class="blue">M</span>
        <span class="red">e</span>
        <span class="yellow">l</span>
        <span class="blue">i</span>
        <span class="green">s</span>
        <span class="red">s</span>
        <span class="yellow">a...</span>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-4 padding">
            <img src="../../assets/andrew2.jpeg" alt="A picture of Andrew Link">
        </div>
        <div class="col-4  padding">
            <div class="note centered">My name is Andrew. This is me!</div>
            <img src="../../assets/andrew1.jpg" alt="A picture of Andrew Link">
        </div>
        <div class="col-4 padding">
            <img src="../../assets/andrew3.jpeg" alt="A picture of Andrew Link">
        </div>
    </div>
    <div class="row">
        <p>I realize interviewing people all day and seeing the same old thing must get quite <span class="red roboto-bold">BORING...</span> That's why I've built you this website personalized just for you and the folks at Google! I'm hoping it will help me stand out from the (undoubtedly <span class="green roboto-bold">incredibly talented</span>) crowd, and even serve to showcase some of my skills! I would love nothing more than to work for what I believe is the <span class="blue roboto-bold">greatest company in the world</span> - helping to build products I very genuinely believe in and inspire me. So please, sit back, drink a cup of sassy southern coffee, and let me take you on a journey of me! Click <span class="yellow roboto-bold link" routerLink="my-story">here</span> to see my story, or click the menu at the top of the page to navigate around my life!</p>
    </div>
</div>
