.navbar {
  width: 100%;
  height: 80px;
  background-color: var(--white);
  color: var(--black);
  transition: all 800ms;
}

.grayback {
  background-color: var(--gray);
}

.centered {
  height: calc(100vh - 80px);
  width: 100vw;
  background-color: var(--gray);
  position: absolute;
  z-index: 999;
}

.nav-link {
  display: block;
  width: 180px;
  height: 50px;
  position: relative;
  left: 50%;
  transform: translateX(-120px);
  margin: 15px 30px;
}

//icon
.icon-1,
.icon-2,
.icon-3 {
  position: absolute;
  left: 25%;
  top: 50%;
  width: 32px;
  height: 3px;
  transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
}

.icon-1 {
  background-color: var(--blue);
  transform: translateY(-8px);
  animation-delay: 100ms;
}

.icon-2 {
  background-color: var(--green);
}

.icon-3 {
  background-color: var(--yellow);
  transform: translateY(8px);
  animation-delay: 250ms;
}

.hamburger-icon {
  position: absolute;
  height: 60px;
  width: 60px;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: translateX(-50%) scale(1.2);
  }
}

.icon-1.a {
  transform: rotate(40deg);
  background-color: var(--red);
}
.icon-2.b {
  opacity: 0;
}
.icon-3.c {
  background-color: var(--red);
  transform: rotate(-40deg);
}

.clear {
  background-color: var(--red);
  clear: both;
}
