<div class="container centered">
    <h1><span class="lfloat roboto-thin yellow">What I use</span><span class="rfloat roboto-bold green">To get it done</span></h1>
    <div class="row margin-top">
        <div class="col-3"></div>
        <div class="col-6">
            <p class="para bohemian-typewriter">One day, I'd like to build something that changes the world. Something people use every day and becomes integral to their lives the same way google has. Currently, I finish my work during the day, and go straight to work on my own projects and ideas at night. I would love nothing more than to expedite my learning by learning from the best of the best at google. Currently, this list is my preferred tech stack to get that done</p>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row margin-top">
        <div class="col-3"></div>
        <div class="col-3">
            <h2 class="blue roboto-bold">Programming Languages and Frameworks</h2>
            <span class="list-item roboto-thin">JavaScript</span>
            <span class="list-item roboto-thin">TypeScript</span>
            <span class="list-item roboto-thin">Angular</span>
            <span class="list-item roboto-thin">Node</span>
            <span class="list-item roboto-thin">Express Servers</span>
            <span class="list-item roboto-thin">SQL (MySQL)</span>
            <span class="list-item roboto-thin">NoSQL (MongoDB and DynamoDB)</span>
            <span class="list-item roboto-thin">Python</span>
            <br>
            <h2 class="yellow roboto-bold">Software I Use</h2>
            <span class="list-item roboto-thin">Microsoft Excel (Finance/Accounting Major)</span>
            <span class="list-item roboto-thin">Adobe Photoshop</span>
            <span class="list-item roboto-thin">Adobe Lightroom</span>
            <span class="list-item roboto-thin">Adobe Illustrator</span>
            <span class="list-item roboto-thin">Blender</span>
            <span class="list-item roboto-thin">VSCODE</span>
            <span class="list-item roboto-thin">MySQL Workbench</span>
            <span class="list-item roboto-thin">ThunderClient (Or Postaman)</span>
        </div>
        <div class="col-3">
            <h2 class="red roboto-bold">Services</h2>
            <span class="list-item roboto-thin">GitHub</span>
            <br>
            <span class="list-item roboto-thin"><h4>Amazon Web Services</h4></span>
            <span class="list-item roboto-thin">IAM</span>
            <span class="list-item roboto-thin">API Gateway</span>
            <span class="list-item roboto-thin">Route 53</span>
            <span class="list-item roboto-thin">Cognito</span>
            <span class="list-item roboto-thin">Lambda</span>
            <span class="list-item roboto-thin">EC2</span>
            <span class="list-item roboto-thin">S3</span>
            <span class="list-item roboto-thin">VPC</span>
            <span class="list-item roboto-thin">RDS</span>
            <span class="list-item roboto-thin">DynamoDB</span>
            <span class="list-item roboto-thin">Amplify</span>
            <span class="list-item roboto-thin">Cloudwatch</span>
        </div>
        <div class="col-3"></div>
    </div>
</div>
